<div class="container">
	<div class="row">
		<div class="col-xs-12 ">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-lg-6" ng-class="{ 'border-sm-right': can.leagueEdit(league)}">
					<h2 class="page-title">League bank</h2>
					<div>League balance is</div>
					<div class="display-4"><strong>$ {{ league.balance }}</strong></div>
					<div ng-if="league.invite_amount">
						League pay in amount <b>{{ league.invite_amount | currency : '$' : 2 }}</b>
					</div>
				</div>

				<div ng-if="can.leagueEdit(league)" class="col-xs-12 col-sm-6 col-lg-6">

					<hr class="m-y-2 hidden-sm-up">

					<h2 class="page-title">Payout</h2>

					<!-- Errors -->
					<div class="alert-danger" ng-if="ui.payout_server_message" ng-bind="ui.payout_server_message"></div>

					<form name="form" ng-submit="ui.payoutCreate()">
						<div class="form-group row" ng-class="{'has-danger': form.user_id.errors}">
							<div class="col-xs-12 ">
								<label class="form-control-label ">Choose member <span class="text-danger">*</span></label>

								<select class="form-control c-select"
								        ng-model="ui.payout.user_id"
								        ng-options="user.id as user.full_name for user in users track by user.id"
								        name="user_id">
									<option value="">- Select -</option>
								</select>
								<span class="text-danger" ng-if="form.user_id.errors" ng-bind="form.user_id.errors[0]"></span>
							</div>
						</div>

						<div class="form-group row" ng-class="{'has-danger': form.amount.errors}">
							<div class="col-xs-12 ">
								<label class=" form-control-label ">Amount <span class="text-danger">*</span></label>
								<input class="form-control" placeholder="0.00" ng-model="ui.payout.amount" name="amount" type="text">
								<span class="text-danger" ng-if="form.amount.errors" ng-bind="form.amount.errors[0]"></span>
							</div>
						</div>

						<div class="text-xs-right">
							<button type="submit" class="btn btn-primary-outline" ng-disabled="!users.length || !league.balance">Confirm</button>
						</div>
					</form>
				</div>
			</div>

			<hr class="m-y-2">


		</div>
	</div>

</div>